body {
  background-image: url('images/sp.jpeg');  
  background-repeat:no repeat;
  background-attachment:fixed;
  background-size:cover;
  width:500px;
  height:500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px 500px 600px 500px;
  position: fixed;
}
